.ui-bar-a{
	border: none;
	font-weight: normal;
}

.w_100{
	width: 100%;
}

.w_80{
	width: 80%;
}

.w_70{
	width: 70%;
}

.w_15{
	width: 15% !important; 
}

.w_10{
	width: 10% !important;
}

.h_75{
	height: 75px;
}

.h_83{
	height: 83px;
}

.h_40{
	height: 40px;
}

.right{
	float: right; 
}

hr{
	border-color: #e9e9e9;
	background: #e9e9e9;
}

#map-page, #map-canvas{
	width: 100%;
	height: 100%;
	padding: 0;
}

.home{
	cursor: pointer;
}